<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="container">
      <div class="range_item">
        <p class="text">Produtos para seu petshop.</p>
      </div>
      <div class="range_item">
        <form action="">
          <a class="links_menu" href="/">Início</a>
          <a class="links_menu" href="/products">Produtos</a>

        </form>
        <form method="POST" action="/logout">
          <button type="submit" class="links_menu" id="btn-logout">
            Logout
          </button>
        </form>
      </div>
    </div>
    <header>
      <div class="headerContainer">
        <div class="header_img">
          <img
            class="imgLogo logo-image"
            src="https://image.freepik.com/vetores-gratis/logotipo-de-petshop-para-gatos-e-caes_9645-750.jpg"
          />
        </div>
        <div id="menu-responsivo">
          <button id="btn-menu-responsivo">Menu</button>
        </div>

        <div class="call-box">
          <img
            id="imgEntrar"
            src="https://image.flaticon.com/icons/png/512/891/891389.png"
            alt=""
          />

          <a class="links_menu" href="/login"
            ><button id="btnBemVindo">Minha conta</button></a
          >
        </div>
      </div>
    </header>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/stylesheets/header.css" />
  </body>
</html>
