<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inicial-scale=1" />
    <title>Logout</title>
    <link rel="stylesheet" href="/stylesheets/logout.css" />
  </head>
  <%- include('./partials/header') %>
  <body>
    <main>
        <div class="bye-message">
            <h1 id="h1-message">Sessão encerrada. Até a próxima!</h1>
            <div class="image-bye">
                <img
                    class="imgBye"
                    src="https://th.bing.com/th/id/R4fa55a1bba81a73fde04d277657b43fc?rik=75VBanmTK%2b%2fJwQ&riu=http%3a%2f%2fcdn.attackofthecute.com%2fMay-15-2012-01-49-17-dfvsv.jpeg&ehk=Z3qCrGGectAZYjQtnNHAmqmUf0Tj5WCyh54AsJUpKBY%3d&risl=&pid=ImgRaw"
                />
            </div>
        </div >       
    </main>
  <%- include('./partials/footer') %>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
