/*Main*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.tela-cadastro {
  align-items: center;
  justify-content: space-evenly;
  ;
}

/*Titulo*/

h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


/*Sessão de Cadastro*/

.type-radio {
  display: inline-flex;
}

.cadastro {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  padding: 25px 0px;
  background-color: rgb(194, 194, 194);
  font-weight: 500;
}

.cadastro form #id {
  margin-bottom: 10px;
}

.cadastro form #name {
  margin-bottom: 10px;
}

.cadastro form #price {
  margin-bottom: 10px;
}

.cadastro form #description {
  margin-bottom: 10px;
}

.cadastro form .name {
  margin-right: 8px;
}
  
.cadastro form .price {
  margin-right: 12px;
}

.cadastro form .description {
  margin-right: 70px;
}

.cadastro form .type {
  margin-bottom: 20px;
}

.cadastro form .titulo-cadastro {
  margin-bottom: 7px;
}

.cadastro form .type-radio {
  margin-right: 10px;
}

.cadastro form .type-radio label {
  margin-left: 5px;
  margin-bottom: 25px;
}
